---
const StyleSpan = " text-yellow-200 font-Concert tracking-wide";

---

<div class="flex flex-col gap-3 justify-center lg:text-lg animate-fade-in-left">
    <p class="text-secundario tracking-wide ">
      Soy un estudiante apasionado por el desarrollo web y futuro
      <span class={StyleSpan}>front-end developer</span>.
    </p>

    <p class="text-secundario tracking-wide  ">
      Disfruto transformando ideas en <span class={StyleSpan}
        >interfaces atractivas</span
      > y funcionales, mientras aprendo a dominar el arte de la <span
        class={StyleSpan}>experiencia de usuario</span
      >.
    </p>

    <p class="text-secundario tracking-wide  ">
      Me inspiro en la <span class={StyleSpan}>simplicidad</span>, encuentro
      belleza en el orden y nunca dejo de explorar nuevas formas de crear. En mi
      tiempo libre, me encanta leer sobre tecnología y perderme en la música.
    </p>

    <p class="text-secundario tracking-wide  ">
      Creo firmemente en el poder de la colaboración y el aprendizaje constante.
      Me motiva <span class={StyleSpan}>trabajar en equipo</span> para superar desafíos
      y alcanzar metas, siempre con el objetivo de crecer como profesional y persona.
    </p>

    <p class="text-secundario tracking-wide   text-center  font-Concert">
      Estoy construyendo mi camino paso a paso, ¡y esto es solo el comienzo!
    </p>
    
  </div>