---
import { proyectos } from "./ListProyect.js";
import {IconoRenderizado} from "./iconos.jsx";

---

<section  class="text-white flex flex-wrap gap-12 justify-center items-center lg:border-l-1 border-white  ">
  {
    proyectos.map((proyecto) => (
    <a href={`/InfoProye?id=${proyecto.id}`}  class="w-[440px] h-[290px]     rounded-xl  ">

      <div class="container-proyect w-full h-full  overflow-hidden relative  "   >
        <video src={proyecto.imagenPortada}  class="object-cover w-full h-full filter grayscale-[40%] rounded-lg" autoplay muted loop >
        </video>
          {/* cuando se haga hover aparecera todo esta info */}
          <div class="container-info absolute z-20  bg-transparent h-full w-full inset-0 px-3  ">
            <div class="subContainer-info translate-y-[140px] px-5 lg:px-2  lg:translate-y-[500px] flex flex-col gap-2 h-auto  ">

            <h1 class="text-white text-3xl lg:text-3xl tracking-wider font-Acme font-black">{proyecto.nombre}</h1>
            <p class=" text-[#edecec]">{proyecto.descripcionCorta}</p>
            
                <ul class="flex items-center gap-3 flex-wrap">
                    {
                      proyecto.tecnologias.map((tecnologia) => (
                        <li class="text-sm   px-3 rounded-lg ">
                          <IconoRenderizado nombre={tecnologia} />
                          </li>
                      ))
                    }
                </ul>
                      
                     

            </div>

            
          </div> 
      </div>
    </a>
       
    ))
  }
 
</section>


<style>
   
    .container-proyect:hover video{
        transition: all 0.3s ease-in-out;
        filter: grayscale(0%);

    }

    .container-proyect:hover .container-info{
      transition: all 0.3s ease-in-out;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 100%);

    }
    .container-info:hover .subContainer-info{
      transition: all 0.6s ease-in-out;
      transform: translateY(160px);

    }
    @media screen and (max-width: 900px){
        .container-info{
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.806) 100%);

    }
        
    }
</style>
